@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

body {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    font-family: 'Vast Shadow', cursive;
}
